*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-self: center;
    font-family: 'Ubuntu', sans-serif;
    background-image:url(../img/fondosimulador.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header{
    width: 100%;
    height: 100px;
    position: relative;
}

nav{
    text-align: left;
    padding: 10px 0 10px 0;
}

nav > a{
    color: aliceblue;
    font-weight: 200;
    text-decoration: none;
    margin-left: 20px;
}

nav > a:hover{
    color: rgb(13, 32, 95);
}

.wave{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -100;
}

.wave svg path{
    stroke: none; 
    fill: rgba(74, 12, 144, 0.657)
}

header .texto-header{
    padding: 10px 0 0 20px;
    display: flex;
    height: 20px;
    width: 100%;
}

.texto-header h1{
    font-size: 25px;
    color:rgb(183, 255, 255);
}

/* caja simulador */

.caja-simulador{
    justify-content: space-around;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-wrap: wrap;
    
}

/* parametros */

.bloques{
    display: flex;
    flex-direction: row;
}

.bloque1{
    width: 50%;
    border-right: 3px double #02253F;
}

.caja-simulador .parametros{
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 550px;
    height: fit-content;
    background: linear-gradient(#8dd3c4, #8d8ed3);
    border: 3px double #02253F;
}

.titulo-parametros{
    padding: 4px;
    text-align: center;
    color: white;
    background: linear-gradient(#02253F, #176A95);
}

.titulo-bacteria{
    padding: 4px;
    text-align: center;
    background: linear-gradient(#C2F9AA, #D6D1C9);
}

.input-parametros{
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.opciones{
    border-radius: 3px;
    font-family: 'Ubuntu', sans-serif;
}

.bloque2{
    width: 50%;
}

.entrada{
    text-align: center;
    width: 50px;
    height: 22px;
    border-radius: 3px;
}

.botones-control{
    margin: 5px;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botones{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 30%;
    
}

#mostrar-botones{
    margin: auto;
    display: flex;
    justify-content: center;
}

#btn_avanzar{
    text-decoration: none;
    color: white;
    font: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-style: bold;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(#167013, #3d8a25);
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

#btn_parar{
    text-decoration: none;
    color: white;
    font: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-style: bold;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(#9b2525, #e62626);
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

/* propiedades slider */
.caja-slider{
    text-align: center;
}

.tiempo-slider{
    margin: 6px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #ffffff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #36115f;
    cursor: pointer;
}

.lienzo{
    margin: auto;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    
}

/* medio de cultivo */

.medio-cultivo{
    margin-top: 30px;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;
}

/* informacion de la pagina */

.instrucciones{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.contenedor-texto{
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 3px double rgb(27, 27, 82);
    border-radius: 3rem;
    background: linear-gradient(#39ccd1b9, #228eccbe);
}

.titulo{
    color: #000000;
    font-size: 25px;
    text-align: center;
    padding-bottom: 1rem;
}

.subtitulo{
    color: #0a0553;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
p{
    text-align: justify;
}

.img1{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
}