<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/estilo.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/main.css') }}" />
  <title>Crecimiento Bacteriano</title>
  <link rel="icon" type="image/img" href="{{ url_for('static', filename='img/bacteria.png') }}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <header>

    <nav>
      <a href="#">Inicio</a>
      <a href="#reglas">Parámetros</a>
      <a href="#info">Nosotros</a>
    </nav>

    <section class="textos-header">
      <h1>Observa el crecimiento bacteriano con esta herramienta</h1>

    </section>
    <div class='wave' style="height: 50px; overflow: hidden;">
      <svg viewBox="0 0 500 80" preserveAspectRatio="none" style="height: 100%; width: 100%;">
        <path d="M0.00,49.98 C254.21,126.80 255.06,-3.45 500.00,49.98 L500.00,150.00 L-19.43,178.13 Z"
          style="stroke: none; fill: rgb(138, 231, 228)"></path>
      </svg>
    </div>
  </header>

  <!--Div contenedor general-->
  <div class="simulacion">
    <div id="Contenedor" class="graficos">
      <!--Div contenedor de los botones utilizados-->
      <div id="botones" class="parametros">
        <h3>Ingresa los parámetros de la simulación</h3>

        <div class="entrada-tiempo">
          <div>
            <h4>Tiempo (s):</h4>
          </div>
          <div class="input-parametros"> <input type="number" name="tiempo" id="time"></div>
        </div>
        <div class="entrada-temp">
          <div>
            <h4>Temperatura (°C):</h4>
          </div>
          <div class="input-parametros"> <input type="number" name="temperatura" id="temp"></div>
        </div>
        <!-- Tiempo -->
        <div class="slider">
          <label>Velocidad de Simulación(S) </label>
          <label id="range_text">:</label>
        </div>
        <div id="cont_1">
          <input type="range" min="0" max="5" step="0.1" value="0.1" id="customRange1" style="width: 300px;">
        </div>
        <div>
          <button type="button" id="btn_avanzar" class="btn btn-primary" style="margin-top: 10px;">
            Ejecutar
          </button>
          <button type="button" id="btn_parar" class="btn btn-primary" style="margin-top: 10px;">
            Parar
          </button>
        </div>
        <div class="curva">
          <canvas id="grafica" width="400" height="265"
            style="border: 2px solid rgb(85, 84, 116); background: #ffffff;">
          </canvas>
        </div>

      </div>

      <!--Elemento Canvas para mostrar graficos personalizados-->
      <div class="caja-petri">
        <h3>Con el mouse coloca las bacterias dentro
          del medio de cultivo.</h3>

        <canvas id="dibujo" width="650" height="450" style="
          cursor: crosshair;
          border: 2px solid rgb(85, 84, 116);
          background: #d1dde0;
          margin-left: 10px;
        "></canvas>
        <div>
          <b id="cnt_elementos" class="non-selectable">Cantidad de elementos: </b>
        </div>
      </div>

    </div>
  </div>

  <div class="instrucciones" id="reglas">
    <h2 class='titulo'>Parámetros del crecimiento bacteriano</h2>
    <div>
      <h3 class="subtitulo">La velocidad</h3>
      <p>La velocidad específica de crecimiento es característica para cada
        tipo de microorganismo y medio de cultivo (sustrato).
      </p>
      <h3 class="subtitulo">El tiempo</h3>
      <p>
        El tiempo de generación es el tiempo requerido para que, a partir
        de una célula, se formen dos células, es decir, es el tiempo que
        tarda una población microbiana en duplicarse. Este tiempo varía
        considerablemente con los microorganismos y las condiciones ambientales
        como la temperatura.
      </p>
      <h3 class="subtitulo">Temperatura de almacenamiento</h3>
      <p>
        La temperatura es uno de los parámetros ambientales
        que condicionan el crecimiento y la supervivencia
        de los microorganismos. Cada microorganismo tiene una
        temperatura mínima, óptima y máxima de crecimiento. Cuanto
        más distante de esa temperatura óptima sea la temperatura
        de almacenamiento, menor será la velocidad de crecimiento.
      </p>
      <h3 class="subtitulo"> pH del alimento</h3>
      <p>
        El pH es otro de los parámetros ambientales más
        importantes que condicionan el crecimiento y la supervivencia
        de los microorganismos. Las diversas especies de bacterias presentan
        también un pH máximo, un pH mínimo y un pH óptimo.
      </p>
      <h3 class="subtitulo">a<sub>w</sub> del alimento</h3>
      <p>
        La a<sub>w</sub> de un alimento es la relación entre la presión
        de vapor de agua en el alimento y la presión de vapor del agua pura.
      </p>

      <div class="img1">
        <img src="static/img/curva.png" alt="">
      </div>

      <div class="informacion" id="info">
        <h3>Desarrollado por:</h3>
        <p>
          <li>Luis Efraín López García</li>
          <li>Jesús Manuel Roa Escalante</li>
        </p>
      </div>

    </div>

    <!-- Scripts-->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>